[user]
	name = George Palmer-Bryant

# Default git profile is the work profile
[include]
	path = ~/.dotfiles/gitconfig/work.conf

# If working in the personal folder or .dotfiles use personal profile instead
[includeIf "gitdir:~/.dotfiles/**"]
	path = ~/.dotfiles/gitconfig/personal.conf
[includeIf "gitdir:~/Develop/personal/**"]
	path = ~/.dotfiles/gitconfig/personal.conf
